In [3]:
print("Alisha Patel") #hi

Alisha Patel

In [2]:
x = 12
print (x)

12

The below is a multiline comment

In [2]:
"""Hey buddy
what are you upto """

'Hey buddy\nwhat are you upto '

#### Strings
- single, double, triple quotes
- escape sequences (\n, \t, \r)

In [4]:
print ('HI')
print ("hi")
print ("""hi""")

HI
hi
hi

In [1]:
num = input("enter number:")
print(num)
name = input("enter a name:")
print(name)

#print type of inputs above
print("type of num",type(num))
print("type of name", type(name))

enter number:24
24
enter a name:asha wuhuuu
asha wuhuuu
type of num <class 'str'>
type of name <class 'str'>

In [2]:
str = ("Isha is %s years old but has a mind of %s years old"%("15","24"))
print(str)

Isha is 15 years old but has a mind of 24 years old

In [3]:
str = ("Isha is %d years old but has a mind of %d years old"%(15,24))
print(str)

Isha is 15 years old but has a mind of 24 years old

In [4]:
str1 = "isha is {} years old but has a {} year old brain".format(15,24)
age1 = 15
age2 = 24
xy = f"isha is {age1} years old but has a {age2} year old brain"
print(xy)
print(str1)

isha is 15 years old but has a 24 year old brain
isha is 15 years old but has a 24 year old brain

In [2]:
print("I want to be a data scientist", end= "\n")
print("Data Scientists are awesome")
print("A","B","ABC", sep = ',#')

I want to be a data scientist
Data Scientists are awesome
A,#B,#ABC

taking input

In [3]:
age = int(input())
print(age)
print("Ishiqa is "+str(age)+ " years old")

16
16
Ishiqa is 16 years old

Split()

In [26]:
l = "10 20 30 40 50".split()
print(l)
str1 = "apple and banana,cherry,orange".split(",")
print(str1)

['10', '20', '30', '40', '50']
['apple and banana', 'cherry', 'orange']